[General]
home=/data/khanlab/projects/ChIP_seq/
data_dir=DATA
script_dir=scripts
output_dir=DATA
log_dir=data_by_file_type/log
project_dir=projects
sample_desc_file=manage_samples/ChIP_seq_GEO_Batch.txt
override=0
bam_extension=dd.bam
blacklist=data_by_file_type/bed/wgEncodeDacMapabilityConsensusExcludable.bed
tss_file=data_by_file_type/bed/TSS.bed
exclude_chr=data_by_file_type/ref/exclude_chr_list.txt
default_read_length=75
default_lib_size=275

[IGVTools]
bin_size=50
genome=hg19
smooth_window=0

[BedComparison]
adjust_flank=3000

[MACS]
qvalue_cutoff=0.01,0.001,0.0001,0.00001
pvalue_cutoff=0.00001
fold_change_field=7
fold_change_cutoffs=7
do_filtering=no
keep-dup=all
#suffix=_flaginput

[SICER]
path=/data/khanlab/apps/SICER_V1.1/SICER
bed_dir=data_by_file_type/bed/sicer/
genome=hg19
redundancy=1
window=200
genome_fraction=0.74
qvalue_cutoff=0.001
evalue_cutoff=100
gap=600
enable=false

[HOMER]
genome=hg19
preparsedDir=data_by_file_type/preparse
p=32
size=1000
len=10
sbatch_option='--partition=ccr --cpus-per-task=32 --ntasks=2 --mem=32g'
find_motif=0
#nfr=H3K27ac,H3K4me1,H3K4me2

[ROSE]
genome=HG19
tss_distance=2500
stitch_distance=12500

[COLTRON]
exp_file=cufflinks_UCSC/isoforms.fpkm_tracking
exp_cutoff=4

[EDEN]
tad_file=data_by_file_type/genome_bins/TADs/All_TADS.bed
fpkm_cutoff=2
super_loci_distance_cutoff=300000
nearest_gene_distance_cutoff=1500000
exp_file=cufflinks_UCSC/genes.fpkm_tracking
